:root{
  --white-color: rgba(255, 255, 255, 0.87);
}

#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-grow: 1;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.searchBar{
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 25px;
  border: 1px solid var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.generalBtn{
  box-sizing: border-box;
  padding: 5px 15px;
}

.searchBtn{
  position: absolute;
  right: 25px;
  bottom: 25px;
}

.newToDoBtn{
  align-self: left;
}

.tableContainer{
  overflow-x: auto;
}